{
  "extends": ["react-app", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "jsxSingleQuote": false,
        "printWidth": 80,
        "bracketSpacing": true,
        "jsxBracketSameLine": false
      }
    ]
  },
  "plugins": ["prettier"]
}
